<a href="https://colab.research.google.com/github/sonia-1234-bot/Internship_weekwise_update/blob/main/Week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#GROUP 3

#Name printing----------------------------------
name=input("Enter your name :")
for i in name:
 print(i)

Enter your name :Sahyadri
S
a
h
y
a
d
r
i

In [ ]:
#Even or Odd------------------------------------
n=int(input("Enter a number: "))
if n%2==0:
  print("Even")
else:
  print("odd")

Enter a number: 45
odd

In [ ]:
#Palindrome------------------------------------
a=input("Enter a string: ")
rev=''
for i in a:
  rev=i+rev
print(rev)
if a==rev:
  print("Palindrome")
else:
  print("Not a palindrome")

Enter a string: malayalam
malayalam
Palindrome

In [ ]:
#String matching-------------------------------
string=input("Enter the string:")
pattern=input("Enter the pattern:")
length=len(pattern)
if pattern in string:
  print("Recognised")
else:
  print("Not recognised")
pos=string.index(pattern)
print(string[:pos])
print(string[(pos+length):])

Enter the string:Pineapple
Enter the pattern:app
Recognised
Pine
le

In [ ]:
#reverse a word-------------------------------
def reverseWordSentence(Sentence):
   return ' '.join(word[::-1] for word in Sentence.split(" "))
Sentence = input("Enter the string: ")
print(reverseWordSentence(Sentence))

Enter the string: Hello World
olleH dlroW

In [ ]:
#reverse a sentence---------------------------
def reverseWords(s):
  words = s.split(' ')
  reverse_str = ' '.join(reversed(words))
  return reverse_str
s1 = input("Enter the string: ")
print (reverseWords(s1))

Enter the string: Hello World
World Hello

In [ ]:
#GROUP 3
#Printing even and odd number for a given limit
n=int(input("Enter the limit: "))
print(f'Even numbers from {n} : ')
for i in range(n,0,-2):
 if n%2==0:
  print(i)
 else:
  print(i-1)
print(f'Odd numbers from {n} : ')
for i in range(n,0,-2):
  if n%2!=0:
    print(i)
  else:
    print(i-1)

Enter the limit: 10
Even numbers from 10 :
10
8
6
4
2
Odd numbers from 10 :
9
7
5
3
1

In [ ]:
#Sum of digits
sum=0
num=input("Enter the number: ")
for i in num:
  sum=sum+int(i)
print(sum)

Enter the number: 453
12

In [ ]:
#Sum of consecutive numbers from minimum to maximum
sum=0
min=int(input("Minimum: "))
max=int(input("Maximum: "))
for i in range(min,max+1):
  sum=sum+i
print(sum)

Minimum: 5
Maximum: 10
45

In [ ]:
#Check whether the number is prime or not
num=int(input("Enter a number: "))
count=0
is_prime=True
for i in range(2,num):
 if num%i==0:
   is_prime=False
if is_prime:
   print("Prime number ")
else:
   print("Not a Prime number ")

Enter a number: 73
Prime number

In [ ]:
#Printing pyramid of numbers
num=int(input("Enter the range: "))
for i in range(num):
  for j in range(num-i):
    print(j,end=" ")
  print()

Enter the range: 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [ ]:
#Printing pyramid of numbers
for i in range(1,5+1):
 for j in range(1,i+1):
   print(i*j,end=" ")
 print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [ ]:
#Checking how many name starts with A
names=['Anna','Bob','Arvind','Anu']
count=0
for i in names:
  if i[0]=="A" or i[0]=="a":
    count+=1
print(count)

3

In [ ]:
#Print frequency of characters in a string using dictionary
s=input("Enter the string: ")
di={}
for i in s:
   if i in di:
     di[i]=di[i]+1
   else:
     di[i]=1
print(di)

Enter the string: Hello World
{'H': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'W': 1, 'r': 1, 'd': 1}

In [ ]:
#Print frequency of characters in a string
string=input("Enter the string: ")
l=[]
for i in string:
  count=0
  if i in l:
    continue
  else:
    for j in string:
       if j==i:
          count+=1
  print(f'{i}: {count}')
  l.append(i)

Enter the string: Hello world
H: 1
e: 1
l: 3
o: 2
 : 1
w: 1
r: 1
d: 1

In [ ]:
#Checking whether the strings are anagram
s=input("Enter first string: ")
s1=input("Enter the second string: ")
di={}
di2={}
for i in s:
  if i in di:
    di[i]=di[i]+1
  else:
    di[i]=1
for i in s1:
   if i in di2:
     di2[i]=di2[i]+1
   else:
     di2[i]=1
if di==di2:
   print("Anagram")
else:
   print("Not an anagram")

Enter first string: elegant man
Enter the second string: a gentleman
Anagram

In [ ]:
#Square and Cube of a number using functions and tupple
def square_cube(n):
  square=n*n
  cube=n*n*n
  return square,cube
m=int(input("Enter the number: "))
print(square_cube(m))

Enter the number: 6
(36, 216)

In [ ]:
#Square and Cube of a number using functions
def sq_cube(num1,num2):
   return num1*num1,num2*num2*num2
n1=int(input("Enter the number to find square:"))
n2=int(input("Enter the number to find cube: "))
square,cube=sq_cube(n1,n2)
print(square)
print(cube)

Enter the number to find square:4
Enter the number to find cube: 7
16
343